In [143]:
import pandas as pd
import sqlalchemy
import pyodbc
import numpy as np
from numpy import random

engine = sqlalchemy.create_engine("mssql+pyodbc://YOUR_USER:YOUR_PASSWORD@NORTHWIND")

In [34]:
orders = pd.read_sql_table("Orders", engine)
order_details = pd.read_sql_table("Order Details", engine)
customers = pd.read_sql_table("Customers", engine)
products = pd.read_sql_table("Products", engine)
employees = pd.read_sql_table("Employees", engine)

# Playing SQL with DataFrames

*We can use boolean algebra to filter data*
- But don't forget to enclose them in braces and separate from each other
- Also don't use pythons *and*, *or* and *not* but **&**,**|** and **!**

In [35]:
orders[(orders['Freight'] >= 55.28) & (orders['Freight'] <= 208.58)]

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
5,10253,HANAR,3,1996-07-10,1996-07-24,1996-07-16,2,58.17,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
7,10255,RICSU,9,1996-07-12,1996-08-09,1996-07-15,3,148.33,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland
9,10257,HILAA,4,1996-07-16,1996-08-13,1996-07-22,3,81.91,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela
10,10258,ERNSH,1,1996-07-17,1996-08-14,1996-07-23,1,140.51,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
15,10263,ERNSH,9,1996-07-23,1996-08-20,1996-07-31,3,146.06,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
17,10265,BLONP,2,1996-07-25,1996-08-22,1996-08-12,1,55.28,Blondel père et fils,"24, place Kléber",Strasbourg,None,67000,France
19,10267,FRANK,4,1996-07-29,1996-08-26,1996-08-06,1,208.58,Frankenversand,Berliner Platz 43,München,None,80805,Germany
20,10268,GROSR,8,1996-07-30,1996-08-27,1996-08-02,3,66.29,GROSELLA-Restaurante,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela
22,10270,WARTH,1,1996-08-01,1996-08-29,1996-08-02,1,136.54,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland
24,10272,RATTC,6,1996-08-02,1996-08-30,1996-08-06,2,98.03,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
25,10273,QUICK,3,1996-08-05,1996-09-02,1996-08-12,3,76.07,QUICK-Stop,Taucherstraße 10,Cunewalde,None,01307,Germany
29,10277,MORGK,2,1996-08-09,1996-09-06,1996-08-13,3,125.77,Morgenstern Gesundkost,Heerstr. 22,Leipzig,None,04179,Germany
30,10278,BERGS,8,1996-08-12,1996-09-09,1996-08-16,2,92.69,Berglunds snabbköp,Berguvsvägen 8,Luleå,None,S-958 22,Sweden
35,10283,LILAS,3,1996-08-16,1996-09-13,1996-08-23,3,84.81,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela
36,10284,LEHMS,4,1996-08-19,1996-09-16,1996-08-27,1,76.56,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,None,60528,Germany
37,10285,QUICK,1,1996-08-20,1996-09-17,1996-08-26,2,76.83,QUICK-Stop,Taucherstraße 10,Cunewalde,None,01307,Germany
42,10290,COMMI,8,1996-08-27,1996-09-24,1996-09-03,1,79.70,Comércio Mineiro,"Av. dos Lusíadas, 23",Sao Paulo,SP,05432-043,Brazil
46,10294,RATTC,4,1996-08-30,1996-09-27,1996-09-05,2,147.26,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
50,10298,HUNGO,6,1996-09-05,1996-10-03,1996-09-11,2,168.22,Hungry Owl All-Night Grocers,8 Johnstown Road,Cork,Co. Cork,None,Ireland
55,10303,GODOS,7,1996-09-11,1996-10-09,1996-09-18,2,107.83,Godos Cocina Típica,"C/ Romero, 33",Sevilla,None,41101,Spain
56,10304,TORTU,1,1996-09-12,1996-10-10,1996-09-17,2,63.79,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico
66,10314,RATTC,1,1996-09-25,1996-10-23,1996-10-04,2,74.16,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
68,10316,RATTC,1,1996-09-27,1996-10-25,1996-10-08,3,150.15,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
71,10319,TORTU,7,1996-10-02,1996-10-30,1996-10-11,3,64.50,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico
77,10325,KOENE,1,1996-10-09,1996-10-23,1996-10-14,3,64.86,Königlich Essen,Maubelstr. 90,Brandenburg,None,14776,Germany
78,10326,BOLID,4,1996-10-10,1996-11-07,1996-10-14,2,77.92,Bólido Comidas preparadas,"C/ Araquil, 67",Madrid,None,28023,Spain
79,10327,FOLKO,2,1996-10-11,1996-11-08,1996-10-14,1,63.36,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden
80,10328,FURIB,4,1996-10-14,1996-11-11,1996-10-17,3,87.03,Furia Bacalhau e Frutos do Mar,Jardim das rosas n. 32,Lisboa,None,1675,Portugal
81,10329,SPLIR,4,1996-10-15,1996-11-26,1996-10-23,2,191.67,Split Rail Beer & Ale,P.O. Box 555,Lander,WY,82520,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,10968,ERNSH,1,1998-03-23,1998-04-20,1998-04-01,3,74.60,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
723,10971,FRANR,2,1998-03-24,1998-04-21,1998-04-02,2,121.82,France restauration,"54, rue Royale",Nantes,None,44000,France
729,10977,FOLKO,8,1998-03-26,1998-04-23,1998-04-10,3,208.50,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden
733,10981,HANAR,1,1998-03-27,1998-04-24,1998-04-02,2,193.37,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
737,10985,HUNGO,2,1998-03-30,1998-04-27,1998-04-02,1,91.51,Hungry Owl All-Night Grocers,8 Johnstown Road,Cork,Co. Cork,None,Ireland
739,10987,EASTC,8,1998-03-31,1998-04-28,1998-04-06,1,185.48,Eastern Connection,35 King George,London,None,WX3 6FW,UK
740,10988,RATTC,3,1998-03-31,1998-04-28,1998-04-10,2,61.14,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
742,10990,ERNSH,2,1998-04-01,1998-05-13,1998-04-07,3,117.61,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
746,10994,VAFFE,2,1998-04-02,1998-04-16,1998-04-09,3,65.53,Vaffeljernet,Smagsloget 45,Århus,None,8200,Denmark
749,10997,LILAS,8,1998-04-03,1998-05-15,1998-04-13,2,73.91,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela
751,10999,OTTIK,6,1998-04-03,1998-05-01,1998-04-10,2,96.35,Ottilies Käseladen,Mehrheimerstr. 369,Köln,None,50739,Germany
753,11001,FOLKO,2,1998-04-06,1998-05-04,1998-04-14,2,197.30,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden
754,11002,SAVEA,4,1998-04-06,1998-05-04,1998-04-16,1,141.16,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA
759,11007,PRINI,8,1998-04-08,1998-05-06,1998-04-13,2,202.24,Princesa Isabel Vinhos,Estrada da saúde n. 58,Lisboa,None,1756,Portugal
760,11008,ERNSH,7,1998-04-08,1998-05-06,NaT,3,79.46,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
761,11009,GODOS,2,1998-04-08,1998-05-06,1998-04-10,1,59.11,Godos Cocina Típica,"C/ Romero, 33",Sevilla,None,41101,Spain
775,11023,BSBEV,1,1998-04-14,1998-04-28,1998-04-24,2,123.83,B's Beverages,Fauntleroy Circus,London,None,EC2 5NT,UK
776,11024,EASTC,4,1998-04-15,1998-05-13,1998-04-20,1,74.36,Eastern Connection,35 King George,London,None,WX3 6FW,UK
785,11033,RICSU,7,1998-04-17,1998-05-15,1998-04-23,3,84.74,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland
788,11036,DRACD,8,1998-04-20,1998-05-18,1998-04-22,3,149.47,Drachenblut Delikatessen,Walserweg 21,Aachen,None,52066,Germany
791,11039,LINOD,1,1998-04-21,1998-05-19,NaT,2,65.00,LINO-Delicateses,Ave. 5 de Mayo Porlamar,I. de Margarita,Nueva Esparta,4980,Venezuela
797,11045,BOTTM,6,1998-04-23,1998-05-21,NaT,2,70.58,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada
798,11046,WANDK,8,1998-04-23,1998-05-21,1998-04-24,2,71.64,Die Wandernde Kuh,Adenauerallee 900,Stuttgart,None,70563,Germany
802,11050,FOLKO,8,1998-04-27,1998-05-25,1998-05-05,2,59.41,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden
804,11052,HANAR,3,1998-04-27,1998-05-25,1998-05-01,1,67.26,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
807,11055,HILAA,7,1998-04-28,1998-05-26,1998-05-05,2,120.92,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela
811,11059,RICAR,2,1998-04-29,1998-06-10,NaT,2,85.80,Ricardo Adocicados,"Av. Copacabana, 267",Rio de Janeiro,RJ,02389-890,Brazil
815,11063,HUNGO,3,1998-04-30,1998-05-28,1998-05-06,2,81.73,Hungry Owl All-Night Grocers,8 Johnstown Road,Cork,Co. Cork,None,Ireland
820,11068,QUEEN,8,1998-05-04,1998-06-01,NaT,2,81.75,Queen Cozinha,"Alameda dos Canàrios, 891",Sao Paulo,SP,05487-020,Brazil
822,11070,LEHMS,2,1998-05-05,1998-06-02,NaT,1,136.00,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,None,60528,Germany

**Grouping**

In [53]:
grouped_orders = orders.groupby('EmployeeID')
grouped_orders.groups

{1: [10L,
  22L,
  27L,
  37L,
  44L,
  45L,
  56L,
  58L,
  63L,
  66L,
  68L,
  77L,
  92L,
  103L,
  109L,
  113L,
  116L,
  123L,
  126L,
  128L,
  129L,
  137L,
  139L,
  145L,
  146L,
  148L,
  152L,
  153L,
  157L,
  205L,
  213L,
  217L,
  221L,
  225L,
  234L,
  238L,
  260L,
  276L,
  277L,
  289L,
  294L,
  298L,
  310L,
  314L,
  319L,
  331L,
  339L,
  343L,
  350L,
  356L,
  357L,
  364L,
  368L,
  370L,
  378L,
  382L,
  405L,
  407L,
  416L,
  417L,
  420L,
  423L,
  429L,
  432L,
  441L,
  442L,
  461L,
  462L,
  465L,
  469L,
  470L,
  485L,
  495L,
  498L,
  525L,
  528L,
  537L,
  540L,
  541L,
  544L,
  552L,
  565L,
  573L,
  577L,
  579L,
  586L,
  587L,
  594L,
  602L,
  611L,
  629L,
  638L,
  640L,
  646L,
  652L,
  654L,
  661L,
  662L,
  668L,
  673L,
  680L,
  698L,
  702L,
  704L,
  720L,
  721L,
  727L,
  728L,
  733L,
  736L,
  743L,
  744L,
  747L,
  764L,
  775L,
  779L,
  790L,
  791L,
  816L,
  819L,
  821L,
  823L,
  829L],
 2: [17L,
  29L,
  32L,
  47L,
  52L,
  59L,
  64L,
  65L,
  79L,
  91L,
  97L,
  120L,
  131L,
  140L,
  144L,
  150L,
  156L,
  159L,
  166L,
  174L,
  209L,
  214L,
  223L,
  230L,
  239L,
  254L,
  267L,
  268L,
  293L,
  304L,
  305L,
  308L,
  313L,
  315L,
  335L,
  340L,
  347L,
  367L,
  372L,
  409L,
  415L,
  421L,
  425L,
  428L,
  435L,
  438L,
  443L,
  479L,
  486L,
  489L,
  490L,
  504L,
  532L,
  533L,
  539L,
  550L,
  557L,
  560L,
  562L,
  567L,
  571L,
  584L,
  598L,
  610L,
  617L,
  664L,
  667L,
  671L,
  691L,
  701L,
  719L,
  723L,
  734L,
  735L,
  737L,
  741L,
  742L,
  746L,
  752L,
  753L,
  757L,
  761L,
  762L,
  765L,
  766L,
  767L,
  772L,
  780L,
  784L,
  787L,
  794L,
  805L,
  811L,
  812L,
  822L,
  825L],
 3: [3L,
  5L,
  8L,
  18L,
  25L,
  35L,
  61L,
  73L,
  82L,
  84L,
  98L,
  104L,
  114L,
  117L,
  127L,
  133L,
  136L,
  143L,
  161L,
  162L,
  165L,
  167L,
  172L,
  181L,
  184L,
  185L,
  186L,
  188L,
  190L,
  193L,
  194L,
  196L,
  197L,
  201L,
  220L,
  231L,
  236L,
  244L,
  247L,
  257L,
  266L,
  269L,
  282L,
  288L,
  292L,
  299L,
  300L,
  320L,
  322L,
  324L,
  328L,
  333L,
  334L,
  344L,
  346L,
  371L,
  377L,
  390L,
  396L,
  414L,
  433L,
  434L,
  436L,
  445L,
  449L,
  451L,
  452L,
  464L,
  467L,
  475L,
  484L,
  491L,
  494L,
  500L,
  503L,
  505L,
  510L,
  511L,
  514L,
  515L,
  517L,
  520L,
  521L,
  524L,
  530L,
  531L,
  545L,
  548L,
  558L,
  566L,
  569L,
  572L,
  583L,
  590L,
  591L,
  606L,
  607L,
  608L,
  612L,
  631L,
  647L,
  649L,
  655L,
  656L,
  663L,
  670L,
  676L,
  677L,
  686L,
  688L,
  690L,
  699L,
  700L,
  712L,
  716L,
  726L,
  740L,
  755L,
  756L,
  758L,
  763L,
  773L,
  793L,
  801L,
  804L,
  809L,
  815L],
 4: [2L,
  4L,
  9L,
  11L,
  12L,
  13L,
  19L,
  33L,
  34L,
  36L,
  40L,
  46L,
  51L,
  54L,
  67L,
  75L,
  78L,
  80L,
  81L,
  89L,
  90L,
  94L,
  95L,
  96L,
  99L,
  100L,
  112L,
  115L,
  125L,
  134L,
  141L,
  155L,
  169L,
  170L,
  171L,
  178L,
  179L,
  182L,
  183L,
  192L,
  199L,
  200L,
  203L,
  206L,
  211L,
  216L,
  218L,
  222L,
  237L,
  245L,
  246L,
  251L,
  256L,
  261L,
  263L,
  270L,
  274L,
  278L,
  287L,
  296L,
  303L,
  306L,
  316L,
  326L,
  330L,
  332L,
  336L,
  342L,
  352L,
  358L,
  360L,
  365L,
  369L,
  373L,
  374L,
  376L,
  380L,
  381L,
  386L,
  388L,
  392L,
  393L,
  397L,
  399L,
  404L,
  410L,
  422L,
  426L,
  437L,
  440L,
  444L,
  450L,
  454L,
  459L,
  468L,
  477L,
  478L,
  480L,
  492L,
  493L,
  501L,
  507L,
  512L,
  518L,
  519L,
  526L,
  535L,
  536L,
  553L,
  554L,
  555L,
  559L,
  568L,
  582L,
  592L,
  595L,
  599L,
  613L,
  615L,
  616L,
  625L,
  627L,
  630L,
  633L,
  634L,
  636L,
  644L,
  650L,
  653L,
  658L,
  660L,
  665L,
  669L,
  672L,
  678L,
  679L,
  682L,
  683L,
  687L,
  695L,
  697L,
  718L,
  724L,
  732L,
  748L,
  754L,
  770L,
  776L,
  778L,
  781L,
  792L,
  796L,
  813L,
  814L,
  824L,
  828L],
 5: [0L,
  6L,
  21L,
  49L,
  72L,
  85L,
  110L,
  111L,
  124L,
  130L,
  149L,
  215L,
  226L,
  229L,
  281L,
  301L,
  321L,
  327L,
  359L,
  400L,
  401L,
  402L,
  406L,
  427L,
  463L,
  466L,
  473L,
  482L,
  513L,
  564L,
  575L,
  593L,
  603L,
  618L,
  621L,
  622L,
  624L,
  626L,
  651L,
  674L,
  706L,
  795L],
 6: [1L,
  16L,
  23L,
  24L,
  26L,
  43L,
  48L,
  50L,
  69L,
  102L,
  107L,
  108L,
  122L,
  142L,
  147L,
  175L,
  177L,
  191L,
  198L,
  232L,
  241L,
  252L,
  255L,
  262L,
  271L,
  280L,
  291L,
  307L,
  311L,
  351L,
  363L,
  389L,
  395L,
  408L,
  453L,
  455L,
  456L,
  460L,
  487L,
  496L,
  499L,
  506L,
  509L,
  516L,
  542L,
  543L,
  546L,
  556L,
  574L,
  578L,
  585L,
  619L,
  637L,
  659L,
  666L,
  681L,
  685L,
  696L,
  708L,
  711L,
  717L,
  725L,
  751L,
  771L,
  777L,
  783L,
  797L],
 7: [41L,
  55L,
  60L,
  71L,
  74L,
  87L,
  88L,
  93L,
  101L,
  105L,
  119L,
  158L,
  176L,
  180L,
  210L,
  235L,
  242L,
  248L,
  249L,
  259L,
  264L,
  265L,
  272L,
  275L,
  279L,
  283L,
  284L,
  302L,
  325L,
  337L,
  345L,
  349L,
  353L,
  361L,
  385L,
  391L,
  394L,
  411L,
  413L,
  418L,
  419L,
  430L,
  447L,
  483L,
  527L,
  529L,
  549L,
  561L,
  570L,
  588L,
  600L,
  620L,
  628L,
  632L,
  642L,
  643L,
  648L,
  675L,
  689L,
  693L,
  710L,
  745L,
  760L,
  782L,
  785L,
  789L,
  799L,
  800L,
  803L,
  807L,
  818L,
  826L],
 8: [14L,
  20L,
  28L,
  30L,
  31L,
  38L,
  39L,
  42L,
  53L,
  57L,
  62L,
  70L,
  86L,
  106L,
  118L,
  121L,
  132L,
  135L,
  151L,
  154L,
  160L,
  164L,
  168L,
  173L,
  187L,
  189L,
  195L,
  202L,
  204L,
  207L,
  208L,
  212L,
  219L,
  224L,
  228L,
  233L,
  240L,
  243L,
  250L,
  273L,
  285L,
  286L,
  295L,
  297L,
  312L,
  317L,
  323L,
  341L,
  348L,
  354L,
  355L,
  362L,
  366L,
  375L,
  379L,
  383L,
  384L,
  387L,
  403L,
  412L,
  431L,
  446L,
  448L,
  458L,
  471L,
  472L,
  474L,
  476L,
  481L,
  508L,
  522L,
  538L,
  547L,
  563L,
  576L,
  596L,
  597L,
  604L,
  609L,
  614L,
  635L,
  639L,
  684L,
  692L,
  707L,
  709L,
  713L,
  714L,
  729L,
  731L,
  738L,
  739L,
  749L,
  750L,
  759L,
  786L,
  788L,
  798L,
  802L,
  806L,
  808L,
  817L,
  820L,
  827L],
 9: [7L,
  15L,
  76L,
  83L,
  138L,
  163L,
  227L,
  253L,
  258L,
  290L,
  309L,
  318L,
  329L,
  338L,
  398L,
  424L,
  439L,
  457L,
  488L,
  497L,
  502L,
  523L,
  534L,
  551L,
  580L,
  581L,
  589L,
  601L,
  605L,
  623L,
  641L,
  645L,
  657L,
  694L,
  703L,
  705L,
  715L,
  722L,
  730L,
  768L,
  769L,
  774L,
  810L]}

**Iterating over DataFrames**

In [54]:
grouped_employee_names = []
for i in grouped_orders.groups.iterkeys():
    employee = employees[employees['EmployeeID'] == i]
    grouped_employee_names.append(employee.FirstName.values[0])

In [55]:
grouped_employee_names

[u'Nancy',
 u'Andrew',
 u'Janet',
 u'Margaret',
 u'Steven',
 u'Michael',
 u'Robert',
 u'Laura',
 u'Anne']

**Lambdas**

*We can combine iterators with lambdas for more consise code*

In [60]:
for i in grouped_orders.groups.itervalues():
    mapped_order_details = map(lambda line_id: order_details.iloc[line_id,:], i)

In [61]:
mapped_order_details[0]

OrderID      10250.00
ProductID       65.00
UnitPrice       16.80
Quantity        15.00
Discount         0.15
Name: 7, dtype: float64

**Aggregating functions**

In [63]:
grouped_aggregated_orders = grouped_orders.agg(sum)
grouped_aggregated_orders

            OrderID  ShipVia   Freight
EmployeeID
1           1312412      249   8836.64
2           1027871      182   8696.41
3           1354153      264  10884.74
4           1659669      306  11346.14
5            446237       83   3918.71
6            713137      130   3780.47
7            768410      152   6665.44
8           1106793      210   7487.88
9            461193       90   3326.26

*Multiple aggregating function are also possible*

Just pass a **dictionary** that maps columns to functions

In [68]:
grouped_order_details = order_details.groupby('OrderID').agg({'UnitPrice':'mean','Quantity':'sum'})
grouped_order_details.head()

         UnitPrice  Quantity
OrderID
10248    19.533333        27
10249    30.500000        49
10250    22.300000        60
10251    16.400000        41
10252    31.333333       105

**Reindexing**

*We can define or re-define indices, and set defaults for missing values*

In [64]:
grouped_aggregated_orders.reindex(index=[1,2,3,4,5,6,7,8,9,10,11,12], fill_value=0)

            OrderID  ShipVia   Freight
EmployeeID
1           1312412      249   8836.64
2           1027871      182   8696.41
3           1354153      264  10884.74
4           1659669      306  11346.14
5            446237       83   3918.71
6            713137      130   3780.47
7            768410      152   6665.44
8           1106793      210   7487.88
9            461193       90   3326.26
10                0        0      0.00
11                0        0      0.00
12                0        0      0.00

**Merging with JOIN**

*Alternatively we can use Panda's **join** method to merge two DataFrames without providing a key*


If DataFrames contain overlapping keys suffixes must be provided. In this example both DataFrames contain the column **OrderID** and therefore we expand their names to *_left* respectively *_right*

In [175]:
orders.join(order_details,lsuffix='_left', rsuffix='_right')

,OrderID_left,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,OrderID_right,ProductID,UnitPrice,Quantity,Discount
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France,10248,11,14.00,12,0.00
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany,10248,42,9.80,10,0.00
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil,10248,72,34.80,5,0.00
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France,10249,14,18.60,9,0.00
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium,10249,51,42.40,40,0.00
5,10253,HANAR,3,1996-07-10,1996-07-24,1996-07-16,2,58.17,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil,10250,41,7.70,10,0.00
6,10254,CHOPS,5,1996-07-11,1996-08-08,1996-07-23,2,22.98,Chop-suey Chinese,Hauptstr. 31,Bern,None,3012,Switzerland,10250,51,42.40,35,0.15
7,10255,RICSU,9,1996-07-12,1996-08-09,1996-07-15,3,148.33,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland,10250,65,16.80,15,0.15
8,10256,WELLI,3,1996-07-15,1996-08-12,1996-07-17,2,13.97,Wellington Importadora,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,10251,22,16.80,6,0.05
9,10257,HILAA,4,1996-07-16,1996-08-13,1996-07-22,3,81.91,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,10251,57,15.60,15,0.05
10,10258,ERNSH,1,1996-07-17,1996-08-14,1996-07-23,1,140.51,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria,10251,65,16.80,20,0.00
11,10259,CENTC,4,1996-07-18,1996-08-15,1996-07-25,3,3.25,Centro comercial Moctezuma,Sierras de Granada 9993,México D.F.,None,05022,Mexico,10252,20,64.80,40,0.05
12,10260,OTTIK,4,1996-07-19,1996-08-16,1996-07-29,1,55.09,Ottilies Käseladen,Mehrheimerstr. 369,Köln,None,50739,Germany,10252,33,2.00,25,0.05
13,10261,QUEDE,4,1996-07-19,1996-08-16,1996-07-30,2,3.05,Que Delícia,"Rua da Panificadora, 12",Rio de Janeiro,RJ,02389-673,Brazil,10252,60,27.20,40,0.00
14,10262,RATTC,8,1996-07-22,1996-08-19,1996-07-25,3,48.29,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,10253,31,10.00,20,0.00
15,10263,ERNSH,9,1996-07-23,1996-08-20,1996-07-31,3,146.06,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria,10253,39,14.40,42,0.00
16,10264,FOLKO,6,1996-07-24,1996-08-21,1996-08-23,3,3.67,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden,10253,49,16.00,40,0.00
17,10265,BLONP,2,1996-07-25,1996-08-22,1996-08-12,1,55.28,Blondel père et fils,"24, place Kléber",Strasbourg,None,67000,France,10254,24,3.60,15,0.15
18,10266,WARTH,3,1996-07-26,1996-09-06,1996-07-31,3,25.73,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland,10254,55,19.20,21,0.15
19,10267,FRANK,4,1996-07-29,1996-08-26,1996-08-06,1,208.58,Frankenversand,Berliner Platz 43,München,None,80805,Germany,10254,74,8.00,21,0.00
20,10268,GROSR,8,1996-07-30,1996-08-27,1996-08-02,3,66.29,GROSELLA-Restaurante,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela,10255,2,15.20,20,0.00
21,10269,WHITC,5,1996-07-31,1996-08-14,1996-08-09,1,4.56,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,10255,16,13.90,35,0.00
22,10270,WARTH,1,1996-08-01,1996-08-29,1996-08-02,1,136.54,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland,10255,36,15.20,25,0.00
23,10271,SPLIR,6,1996-08-01,1996-08-29,1996-08-30,2,4.54,Split Rail Beer & Ale,P.O. Box 555,Lander,WY,82520,USA,10255,59,44.00,30,0.00
24,10272,RATTC,6,1996-08-02,1996-08-30,1996-08-06,2,98.03,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,10256,53,26.20,15,0.00
25,10273,QUICK,3,1996-08-05,1996-09-02,1996-08-12,3,76.07,QUICK-Stop,Taucherstraße 10,Cunewalde,None,01307,Germany,10256,77,10.40,12,0.00
26,10274,VINET,6,1996-08-06,1996-09-03,1996-08-16,1,6.01,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France,10257,27,35.10,25,0.00
27,10275,MAGAA,1,1996-08-07,1996-09-04,1996-08-09,1,26.93,Magazzini Alimentari Riuniti,Via Ludovico il Moro 22,Bergamo,None,24100,Italy,10257,39,14.40,6,0.00
28,10276,TORTU,8,1996-08-08,1996-08-22,1996-08-14,3,13.84,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico,10257,77,10.40,15,0.00
29,10277,MORGK,2,1996-08-09,1996-09-06,1996-08-13,3,125.77,Morgenstern Gesundkost,Heerstr. 22,Leipzig,None,04179,Germany,10258,2,15.20,50,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,11048,BOTTM,7,1998-04-24,1998-05-22,1998-04-30,3,24.12,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,10548,34,14.00,10,0.25
801,11049,GOURL,3,1998-04-24,1998-05-22,1998-05-04,1,8.34,Gourmet Lanchonetes,"Av. Brasil, 442",Campinas,SP,04876-786,Brazil,10548,41,9.65,14,0.00
802,11050,FOLKO,8,1998-04-27,1998-05-25,1998-05-05,2,59.41,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden,10549,31,12.50,55,0.15
803,11051,LAMAI,7,1998-04-27,1998-05-25,NaT,3,2.79,La maison d'Asie,1 rue Alsace-Lorraine,Toulouse,None,31000,France,10549,45,9.50,100,0.15
804,11052,HANAR,3,1998-04-27,1998-05-25,1998-05-01,1,67.26,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil,10549,51,53.00,48,0.15
805,11053,PICCO,2,1998-04-27,1998-05-25,1998-04-29,2,53.05,Piccolo und mehr,Geislweg 14,Salzburg,None,5020,Austria,10550,17,39.00,8,0.10
806,11054,CACTU,8,1998-04-28,1998-05-26,NaT,1,0.33,Cactus Comidas para llevar,Cerrito 333,Buenos Aires,None,1010,Argentina,10550,19,9.20,10,0.00
807,11055,HILAA,7,1998-04-28,1998-05-26,1998-05-05,2,120.92,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,10550,21,10.00,6,0.10
808,11056,EASTC,8,1998-04-28,1998-05-12,1998-05-01,2,278.96,Eastern Connection,35 King George,London,None,WX3 6FW,UK,10550,61,28.50,10,0.10
809,11057,NORTS,3,1998-04-29,1998-05-27,1998-05-01,3,4.13,North/South,South House 300 Queensbridge,London,None,SW7 1RZ,UK,10551,16,17.45,40,0.15
810,11058,BLAUS,9,1998-04-29,1998-05-27,NaT,3,31.14,Blauer See Delikatessen,Forsterstr. 57,Mannheim,None,68306,Germany,10551,35,18.00,20,0.15
811,11059,RICAR,2,1998-04-29,1998-06-10,NaT,2,85.80,Ricardo Adocicados,"Av. Copacabana, 267",Rio de Janeiro,RJ,02389-890,Brazil,10551,44,19.45,40,0.00
812,11060,FRANS,2,1998-04-30,1998-05-28,1998-05-04,2,10.98,Franchi S.p.A.,Via Monte Bianco 34,Torino,None,10100,Italy,10552,69,36.00,18,0.00
813,11061,GREAL,4,1998-04-30,1998-06-11,NaT,3,14.01,Great Lakes Food Market,2732 Baker Blvd.,Eugene,OR,97403,USA,10552,75,7.75,30,0.00
814,11062,REGGC,4,1998-04-30,1998-05-28,NaT,2,29.93,Reggiani Caseifici,Strada Provinciale 124,Reggio Emilia,None,42100,Italy,10553,11,21.00,15,0.00
815,11063,HUNGO,3,1998-04-30,1998-05-28,1998-05-06,2,81.73,Hungry Owl All-Night Grocers,8 Johnstown Road,Cork,Co. Cork,None,Ireland,10553,16,17.45,14,0.00
816,11064,SAVEA,1,1998-05-01,1998-05-29,1998-05-04,1,30.09,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA,10553,22,21.00,24,0.00
817,11065,LILAS,8,1998-05-01,1998-05-29,NaT,1,12.91,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,10553,31,12.50,30,0.00
818,11066,WHITC,7,1998-05-01,1998-05-29,1998-05-04,2,44.72,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,10553,35,18.00,6,0.00
819,11067,DRACD,1,1998-05-04,1998-05-18,1998-05-06,2,7.98,Drachenblut Delikatessen,Walserweg 21,Aachen,None,52066,Germany,10554,16,17.45,30,0.05
820,11068,QUEEN,8,1998-05-04,1998-06-01,NaT,2,81.75,Queen Cozinha,"Alameda dos Canàrios, 891",Sao Paulo,SP,05487-020,Brazil,10554,23,9.00,20,0.05
821,11069,TORTU,1,1998-05-04,1998-06-01,1998-05-06,2,15.67,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico,10554,62,49.30,20,0.05
822,11070,LEHMS,2,1998-05-05,1998-06-02,NaT,1,136.00,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,None,60528,Germany,10554,77,13.00,10,0.05
823,11071,LILAS,1,1998-05-05,1998-06-02,NaT,1,0.93,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,10555,14,23.25,30,0.20
824,11072,ERNSH,4,1998-05-05,1998-06-02,NaT,2,258.64,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria,10555,19,9.20,35,0.20
825,11073,PERIC,2,1998-05-05,1998-06-02,NaT,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,None,05033,Mexico,10555,24,4.50,18,0.20
826,11074,SIMOB,7,1998-05-06,1998-06-03,NaT,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,None,1734,Denmark,10555,51,53.00,20,0.20
827,11075,RICSU,8,1998-05-06,1998-06-03,NaT,2,6.19,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland,10555,56,38.00,40,0.20
828,11076,BONAP,4,1998-05-06,1998-06-03,NaT,2,38.28,Bon app',"12, rue des Bouchers",Marseille,None,13008,France,10556,72,34.80,24,0.00
829,11077,RATTC,1,1998-05-06,1998-06-03,NaT,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,10557,64,33.25,30,0.00

# Panels

*Beside Series and DataFrames pandas can create 3D structures with Panels*
With Panels we create a complex structure holding entire DataFrames as "array members" 
It's important to know that member DataFrames **don't have to be of the same length** like shown in the example below.


There we define the **first DataFrame** as containing all rows and columns but the other two have only a *partial view* of the
complete structure (their indices are shorter and some of the available columns are not available to them)

In [172]:
major_axis = [0,1,2,3,4]                                 # major axis defining the ROWS of the 3D structure 
minor_axis = ['rand0','rand1','rand2','rand3','rand4']   # minor axis defining COLUMNS of the 3D structure

# these DataFrames will be the "items" of the Panel

# this DF owns a complete view of the whole Panel structure (all rows, all columns)
first_DF  = pd.DataFrame(random.randn(5,5),columns=minor_axis,index=major_axis) 

# this DF "sees" only certain parts of the Panel
second_DF = pd.DataFrame(random.randn(3,3),columns=['rand0','rand2','rand3'],index=[0,1,3])

# this DF also sees only a part of the Panel but not the same like the DF before it
third_DF  = pd.DataFrame(random.randn(2,2),columns=['rand2','rand4'],index=[2,4])

# feed the panel with these DataFrames
panel = pd.Panel({'DataFrame_0': first_DF, 'DataFrame_1': second_DF, 'DataFrame_2': third_DF})

In [173]:
# iterate over the items (that is, DataFrames) and print out the first three columns of every row 
for item in panel.items:
  print(panel[item].iloc[:,0:3])

      rand0     rand1     rand2
0 -0.036808  0.146876 -0.121842
1  0.341124 -1.508298  2.015916
2 -0.883147  0.200315  2.176069
3  2.081299 -0.219334  0.355026
4 -0.017699 -0.473054  0.181512
      rand0  rand1     rand2
0  2.147876    NaN -0.849704
1 -0.865687    NaN  0.423879
2       NaN    NaN       NaN
3 -1.496546    NaN -1.313617
4       NaN    NaN       NaN
   rand0  rand1     rand2
0    NaN    NaN       NaN
1    NaN    NaN       NaN
2    NaN    NaN -0.110575
3    NaN    NaN       NaN
4    NaN    NaN -0.877938